<div class="band">
  <section class="container padding-bottom main-page clientes">
    <div class="sixteen columns main-content">
      <h4>Nossos clientes</h4>
      <br />
      <div class="hand four columns client-clickable alpha" client="embraco">
        <figure class="left"><%= image_tag "logo.png", width: 190, height: 150 %></figure>
      </div>
      <div class="hand four columns client-clickable" client="tupy">
        <figure class="left"><%= image_tag "logo.png", width: 190, height: 150 %></figure>
      </div>
      <div class="hand four columns client-clickable" client="weekz">
        <figure class="left"><%= image_tag "logo.png", width: 190, height: 150 %></figure>
      </div>
      <div class="hand four columns omega client-clickable" client="sharpen">
        <figure class="left"><%= image_tag "logo.png", width: 190, height: 150 %></figure>
      </div>
      <hr class="clearfix" style="visibility: hidden;" />
      <span class="clientes-desc">
        <span id="embraco" class="cliente-single" style="display: none;">
          <h4>Embraco</h4>
          <p>Texto da embraco</p>
        </span>
        <span id="tupy" class="cliente-single" style="display: none;">
          <h4>Tupy</h4>
          <p>Texto da TUPY</p>
        </span>
        <span id="weekz" class="cliente-single" style="display: none;">
          <h4>Weekz</h4>
          <p>Texto do weekz</p>
        </span>
        <span id="sharpen" class="cliente-single" style="display: none;">
          <h4>Sharpen</h4>
          <p>Texto da sharpen</p>
        </span>
      </span>
    <div>
  </section>
</div>