<div class="band">
  <section class="container padding-bottom main-page clientes">
    <div class="sixteen columns main-content">
      <h4>Nossos <strong>clientes</strong></h4>
      <br />
      <div class="hand four columns client-clickable" client="embraco">
        <figure class="left"><%= image_tag "embraco.jpg", width: 190, height: 150 %></figure>
      </div>
      <div class="hand four columns omega client-clickable" client="whirlpool">
        <figure class="left"><%= image_tag "whirlpool.jpg", width: 190, height: 150 %></figure>
      </div>
      <hr class="clearfix" style="visibility: hidden;" />
      <span class="clientes-desc">
        <span id="embraco" class="cliente-single" style="display: none;">
          <h4>Embraco</h4>
          <p>Especializada em soluções para refrigeração e líder mundial do mercado de compressores herméticos, a Embraco tem como missão “oferecer soluções inovadoras para uma melhor qualidade de vida”. Com fábricas no Brasil, Itália, China e Eslováquia e capacidade para 27 milhões de compressores ao ano, produz  também componentes de ferro fundido, componentes elétricos, condensadores e evaporados, que são utilizados na montagem de unidades condensadoras e seladas, bem como sistemas eletrônicos destinados a tornar “inteligentes” os eletrodomésticos.</p>
        </span>
        <span id="whirlpool" class="cliente-single" style="display: none;">
          <h4>Whirlpool</h4>
          <p>A Whirlpool S.A., a partir de sua Unidade de Eletrodomésticos, é a única empresa do Brasil que fabrica, com as marcas Brastemp e Consul, todos os produtos de linha branca – refrigeradores, freezeres horizontais e verticais, fogões, lavadoras de roupa, secadoras, lava-louças, microondas, fornos elétricos, condicionadores e depuradores de ar, coifas e climatizadores. Além de eltrodomésticos, a marca KitchenAid oferece também uma linha de eltroportateis – batedeiras, liquidificadores, cafeteiras e moedores de café.</p>
        </span>
      </span>
    <div>
  </section>
</div>