<section class="container main">

  <div class="one-third column">
    <div class="box">
      <%= image_tag "missao.png" %>
      <h4>Nossa missão</h4>
      <p>Prestar serviços de transporte e logística com qualidade e competitividade, formando parcerias duradouras de forma a contribuir para o desenvolvimento e crescimento de nossos clientes.</p>
    </div>
  </div>
  <div class="one-third column">
    <div class="box">
      <%= image_tag "visao.png" %>
      <h4>Nossa visão</h4>
      <p>Ser destaque entre as empresas no transporte rodoviário de cargas, aumentando continuamente nossos serviços garantindo qualidade e uma rentabilidade justa pelo capital investido.</p>
    </div>
  </div>
  <div class="one-third column">
    <div class="box">
      <%= image_tag "valores.png" %>
      <h4>Nossos valores</h4>
      <p>Organização, Ética profissional, Comprometimento, Respeito pelas pessoas, Informação, Pontualidade, Qualidade.</p>
    </div>
  </div>

</section>

<%= render "contact" %>