<div class="band">
  <section class="container padding-bottom main-page riscos">
    <div class="sixteen columns main-content">
      <h4 style="margin-bottom: 10px;">Sobre a Gestão de Riscos</h4>
      <p>O gerenciamento de Riscos é uma atividade que se propõe a agregar valor à logística, por meio de medidas preventivas, que visam minimizar perdas materiais, financeiras e humanas.<br />
O gerenciamento de Riscos surgiu como uma resposta para minimizar as perdas, devido às mudanças nas operações logísticas das empresas e principalmente pelo aumento nos roubos de cargas.</p>
<p>
Utilizada para conhecer a fundo as operações logísticas e de transportes. Normatiza e detecta falhas na segurança e nas operações de transportes. Mapeamento e pesquisa das principais rodovias no território nacional, visando conhecer as condições das estradas, localização pelo GPS dos Postos Fiscais, Policias Rodoviárias e Postos de abastecimento quepossuam segurança e boa estrutura para a parada de veículos de carga.
</p>
<p>
Busca o posicionamento dos veículos de transporte de carga pelo GPS, informando aos operadores, em intervalos regulares, onde e como o veículo se encontra. Pode detectar várias situações como abertura de portas, velocidade, desengate de carretas, quebras propositais de antenas e corte de combustível, possibilitando a tomada de medidas preventivas ou corretivas a partir da central de monitoramento. Temos rastreamento e monitoramento de todos os veículos.
      </p>
      <div class="four columns alpha">
        <figure class="left"><%= image_tag "logo.png", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns">
        <figure class="left"><%= image_tag "logo.png", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns omega">
        <figure class="left"><%= image_tag "logo.png", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns omega">
        <figure class="left"><%= image_tag "logo.png", width: 190, height: 150 %></figure>
      </div>
    <div>
  </section>
</div>