<div class="band">
  <section class="container padding-bottom main-page riscos">
    <div class="sixteen columns main-content">
      <h4 style="margin-bottom: 10px;">Sobre a segurança da sua carga</h4>
      <p>Para garantir a segurança das cargas transportadas, todas as pessoas ligadas ao processo são submetidas a treinamentos de operação dos equipamentos de rastreamento e monitoramento, seguindo rigidamente as normas da empresa.<br />
Os motoristas passam por reciclagens em cursos de segurança, direção defensiva e operação dos equipamentos de Administração de Riscos colocados em cada veículo.
</p>
<p>
Entendemos que é de fundamental  importância a preparação de nossos colaboradores em ação junto às ferramentas de segurança para a garantia do sucesso de nosso trabalho e de nossos clientes. Este instrumento é um dos mais importantes da Administração de Riscos, pois trabalha com a conscientização de pessoas ligadas diretamente a operação de transporte, das quais depende o sucesso de qualquer operação de Administração de Riscos.
      </p>
      <div class="four columns alpha">
        <figure class="left"><%= image_tag "segurança1.jpg", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns">
        <figure class="left"><%= image_tag "treinamento.png", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns omega">
        <figure class="left"><%= image_tag "treinamento-motoristas-caminhao.jpg", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns omega">
        <figure class="left"><%= image_tag "2294194-9985-rec.jpg", width: 190, height: 150 %></figure>
      </div>
    <div>
  </section>
</div>