/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require base
 *= require skeleton
 *= require layout
 *= require featured
 *= require home
 *= require main
 *= require footer
 *= require contact
 *= require articles
 */

label {
  float: left;
  margin-right:15px !important;
  text-align: right;
  width: 120px;
}

.hint{
  display: none;
}

.field:hover .hint {
  position: absolute;
  display: block;
  margin: -30px 0 0 455px;
  color: #FFFFFF;
  padding: 7px 10px;
  background: rgba(0, 0, 0, 0.6);

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}