.article-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 7px;
  margin-left: 10px;
  line-height: 12px;
  float: left;
  clear: right;
}

.article-excerpt {
  /*margin-top: 20px;*/
  padding-right: 0px;
  float: left;
  color: #787878;
}

.article-image {
  margin-left: 100px;
  margin-top: 10px;
  text-align: center;
  width: 682px;
}

.article-content {
  margin-top: 5px;
  float: left;
  text-align: justify;
  padding: 0 10px;
  min-width: 500px;
  /*padding-right: 30px;*/
}

.article {
  margin-bottom: 25px;
  margin-right: 30px;
  border-bottom: 1px dotted #dedede;
}


.articles .contact-text {
  clear: right;
  line-height: 22px;
  margin-top: 4px;
  margin-bottom: 5px;
  color: #787878;
  margin-left: 10px;
  width: 800px;
  float: left;
}